body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
  }
  
  .welcome-section {
    background-color: #334868;
    color: #ffffff;
    padding: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    order: 2; /* Move the blue section to the right */
  }
  
  .welcome-section h1 {
    margin: 0;
    font-size: 2.5em;
  }
  
  .welcome-section p {
    font-size: 1.2em;
    margin-top: 20px;
  }
  
  form {
    padding: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    order: 1; /* Move the form to the left */
  }
  
  input[type="email"],
  input[type="text"],
  input[type="password"],
  input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    padding: 10px 15px;
    background-color: #2C3E50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #1A232C;
  }
  
  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .welcome-section,
    form {
      order: 0; /* Reset the order for smaller screens */
    }
  
    .welcome-section {
      align-items: center;
      padding: 30px;
    }
  
    form {
      padding: 30px;
    }
  }